body {
    background-color: hotpink;
    font-family: 'Yomogi', cursive;
    
}

header{
    background-image: url(static/rockpaperscissors.png);
    display:flex;
    justify-content: space-evenly;
}

nav > ul {
       list-style: none;
   }

ul > li {
    display: flex;
    justify-content: space space-evenly;
}