
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>
  <title>{{ title }}</title>
</head>

<body>
  <header>
    <nav>
      <ul class= "list">
        <li><a href="/">Home</a></li>
        <li><a href="/extension">2 Player Game</a></li>       
      </ul>
    </nav>
  </header>
  <main>
    <header></header>
    <main id="game_window">
      {% block index %}{% endblock %}
      {% block results %}{% endblock %}
    </main>
    <footer></footer>
  </main>
  <footer>
    <footnote>Sara & Princess have done all the work, Stephen forked our spoon</footnote>
  </footer>
</body>

</html>