
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="rockwins">
    <link rel="rockwins" href="{{ url_for('static', filename='rockwins_style.css') }}"/>
  <title>{{ title }}</title>
</head>

<body>
  <header>
    
    <nav>
      
    </nav>
  </header>
  <main>
    <h1>Shall we play a little game...</h1>
    <ul class= "list">
        <li><a href="/">Home</a></li>
    </ul>

    <main id="rockwins">
      {% block index %}{% endblock %}
      {% block results %}{% endblock %}
    </main>
    <footer></footer>
  </main>
  <footer>
    <footnote>This ish is actually hard.. kmrt footnote changes but that's it!! WTFFFFFFF</footnote>
  </footer>
</body>

</html>

