
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='rockwins_style.css') }}"/>
  <title>{{ title }}</title>
</head>

<body>
  <header>
    
    <nav>
      
    </nav>
  </header>
  <main>
    <h1>Shall we play a little game...</h1>
    <ul class= "list">
        <li><a href="/">Home</a></li>
    </ul>

    <main id="rockwins">
    {% extends "rockwins_style.css" %}
    {% block results %}
        <a>><b>"Player 1 wins with Rock!"</b></a>
        <p>
        </p>
    </main>
    <footer>
        <footnote>Princess Rocks</footnote>
    </footer>
</body>

</html>

{% endblock %}
